{% extends "layout.html" %}

  {%block content%}



        <!-- Page Header-->
        <header class="masthead" style="background-image: url(' {{ url_for ('static',filename='assets/img/home-bg.jpg')}} ')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Admin Panel</h1>
                            <span class="subheading">Manage your Posts and change them</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- ===================== Todo fetch loop using jinja =========-->
                    <!-- <h1> Basic Actions </h1>


                    <td> <a href="/dashboard" <button class="btn btn-primary" >Dashboard Home</button></td></a>
                    <td> <a href="/logout" <button class="btn btn-primary" >LOGOUT</button></td></a>


                    <hr>

                    <h1> Add  Post /  Edit Post </h1>

 -->



                    <hr>



                    <h1>  Edit Post </h1>

                    <form id="contactForm" data-sb-form-api-token="API_TOKEN" action="/edit/{{post.id}}" method="POST" >
                        <div class="form-floating">
                            <input class="form-control" id="title" type="text"  name="heading" placeholder="Heading" value="{{post.heading}} " data-sb-validations="required" />
                            <label for="name">Heading</label>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="tagline" name="tagline" type="text" placeholder="Tagline" value="{{post.tagline}}" data-sb-validations="required,email" />
                            <label for="email">Tagline</label>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="slug" type="text"  name="slug" placeholder="Slug" value="{{post.slug}}" data-sb-validations="required" />
                            <label for="phone">Slug</label>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="content" name="data" placeholder="data" value="{{post.data}}" style="height: 12rem" data-sb-validations="required"></input>
                            <label for="message">Content</label>
                        </div>
                       
                        
                        <br />
                        <!-- Submit success message-->
                        <!---->
                        <!-- This is what your users will see when the form-->
                        <!-- has successfully submitted-->
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Form submission successful!</div>
                                To activate this form, sign up at
                                <br />
                                <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                            </div>
                        </div>
                        <!-- Submit error message-->
                        <!---->
                        <!-- This is what your users will see when there is-->
                        <!-- an error submitting the form-->
                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                        <!-- Submit Button-->
                        <button type="submit" class="btn btn-primary text-uppercase " id="submitButton" >Submit</button>
                    </form>



                    <br>

                    <!-- Pager-->
                </div>
            </div>
        </div>
        <!-- Footer-->


{% endblock %}